@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
 */
 ::selection {
  background: #2ab672fd;
  color:black;
  
}
body {
  padding: 0;
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.tabAnim {
  z-index: -9;
}

#option0:checked ~ div {
  --tw-translate-x: 0%;
}

#option1:checked ~ div {
  --tw-translate-x: 100%;
}

#option2:checked ~ div {
  --tw-translate-x: 200%;
}

#option3:checked ~ div {
  --tw-translate-x: 300%;
}

#option4:checked ~ div {
  --tw-translate-x: 400%;
}

